server:
  port: 8085

spring:
  application:
    name: message-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: ayuszqw@gmail.com     
    password: rtat gily pyxv tvsx     
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
